<h1>여기는 게시물 목록이 나올 페이지 입니다.</h1>
<%@posts.each do |x| %><br>
<!--#포스트의 게시물을 각각 do해줘. 각각 담아줘 -> each do |x|-->
제목:<%=x.title%><br>
<!--#하나하나 담긴거의 제목을 보여주고-->
내용:<%=x.content%><br>
<!--#하나 하나 담긴거의 내용을 보여줘-->
<a href = '/home/destroy/<%=x.id%>'>삭제</a><br>
<%end%>
<!--#each do에 대해 이제 여기까지만 할게 end해준다.-->
<a href="/home/new">새로운 글 쓰기</a>
<!--#route와 다른게 home앞에 슬래쉬 붙여줘야 함.-->








